@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "微軟正黑體";
}

ol, ul {
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0px;
}

select, input {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  display: block;
}

html {
  width: 100%;
  height: 100%;
}
html body {
  width: 100%;
  min-width: 800px;
  height: 100%;
  overflow: auto;
}
html body::-webkit-scrollbar {
  background: transparent;
  width: 5px;
  height: 5px;
}
html body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
html body::-webkit-scrollbar-thumb {
  background: #3d3d3d;
  border-radius: 10px;
}
html body header {
  width: 100%;
  height: 50px;
  background: #FF574D;
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 1100px;
  z-index: 2;
}
html body header button {
  width: 50px;
  height: 50px;
  background: transparent;
  position: relative;
  float: left;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
html body header button:hover, html body header button:active, html body header button.active {
  background: #4556b1;
}
html body header button:hover i, html body header button:active i, html body header button.active i {
  color: #ffffff;
}
html body header button i {
  font-size: 30px;
  color: #eeeeee;
}
html body header button.search {
  width: auto;
  padding: 0px 8px;
}
html body header button.search:hover input, html body header button.search:active input, html body header button.search.active input {
  opacity: 1;
  width: 160px;
}
html body header button.search input {
  opacity: 0;
  width: 0px;
  height: 24px;
  border-radius: 30px;
  border: none;
  vertical-align: super;
  margin-left: 8px;
  padding-left: 10px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
html body header button.search input::-webkit-input-placeholder {
  color: #888888;
}
html body header button.search input::-moz-placeholder {
  color: #888888;
}
html body header button.search input:-ms-input-placeholder {
  color: #888888;
}
html body header button.search input::-ms-input-placeholder {
  color: #888888;
}
html body header button.search input::placeholder {
  color: #888888;
}
html body header .logo {
  margin: 0px auto;
  width: 300px;
  height: 50px;
  cursor: pointer;
}
html body header .logo p {
  text-align: center;
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  line-height: 50px;
}
html body main {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
html body main .left {
  width: 15%;
  height: 100%;
  background: #000000d7;
  position: fixed;
  left: 0px;
  top: 50px;
  overflow: hidden;
  z-index: 2;
}
html body main .left ul {
  width: 100%;
  height: auto;
  padding-top: 30px;
}
html body main .left ul li {
  width: 100%;
  height: auto;
  color: #888888;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
}
html body main .left ul li:hover, html body main .left ul li:active, html body main .left ul li.active {
  color: #fff;
}
html body main .left ul li:hover span, html body main .left ul li:active span, html body main .left ul li.active span {
  opacity: 1;
}
html body main .left ul li span {
  opacity: 0;
  display: inline-block;
  vertical-align: top;
  width: 8px;
  height: 18px;
  background: #44ff16;
  margin-left: 10px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
html body main .fakeLeft {
  width: 15%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background: #ffffff;
  z-index: 1;
}
html body main .mainBox {
  width: 85%;
  height: 100%;
  font-size: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1% 1% 0px;
  float: right;
}
html body main .mainBox::-webkit-scrollbar {
  background: transparent;
  width: 5px;
}
html body main .mainBox::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
html body main .mainBox::-webkit-scrollbar-thumb {
  background: #4556b1;
  border-radius: 10px;
}
html body main .mainBox section {
  display: inline-block;
  width: 49.397%;
  height: 0px;
  padding-bottom: 30%;
  background: #4556b1;
  margin-bottom: 1.208%;
  position: relative;
  vertical-align: top;
}
html body main .mainBox section:nth-of-type(even) {
  margin-left: 1.208%;
}
html body main .mainBox section a {
  display: block;
  width: 100%;
  height: 0px;
  padding-bottom: 56%;
  background: url("../images/demo_001.jpg") no-repeat;
  background-size: cover;
}
html body main .mainBox section p {
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 15px;
}

.lb-dataContainer {
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0px !important;
}

.lb-close {
  width: 40px !important;
  height: 40px !important;
  background-size: 100% !important;
  position: absolute;
  top: -7px;
  right: 0px;
}

.lb-caption {
  font-size: 18px !important;
}

@media screen and (max-width: 1100px) {
  html body main .left {
    min-width: 140px;
  }
  html body main .fakeLeft {
    min-width: 150px;
    width: 0%;
  }
  html body main .mainBox section {
    width: 100%;
    padding-bottom: 60%;
  }
  html body main .mainBox section:nth-of-type(even) {
    margin-left: 0%;
  }
}