html {
    width: 100%;
    height: 100%;

    body {
        width: 100%;
        height: 100%;
        overflow: auto;

        &::-webkit-scrollbar {
            background: transparent;
            width: 5px;
            height: 5px;
        }
    
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 10px;
        }
    
        &::-webkit-scrollbar-thumb {
            background: #3d3d3d;
            border-radius: 10px;
        }

        //header
        header {
            width: 100%;
            height: 50px;
            // background: #FF574D;
            background: #54609C;
            position: fixed;
            top: 0px;
            left: 0px;
            min-width: 800px;
            z-index: 2;

            button {
                width: auto;
                height: 50px;
                padding: 0px 8px 0px 16px;
                background: transparent;
                position: relative;
                float: left;
                transition: 0.3s all;

                &:hover,&:active,&.active {
                    // background: #54609C;
                    background: #f85148;

                    i {
                        color: #ffffff;
                    }

                    input {
                        opacity: 1;
                        width: 160px;
                    }
                }

                i {
                    font-size: 30px;
                    color: #eeeeee;
                }

                input {
                    opacity: 0;
                    width: 0px;
                    height: 24px;
                    border-radius: 30px;
                    border: none;
                    vertical-align: super;
                    margin-left: 8px;
                    padding: 6px 10px 3px;
                    transition: 0.2s all;

                    &::placeholder {
                        color: #888888;
                    }
                }
            }

            .logo {
                margin: 0px auto;
                width: 300px;
                height: 50px;
                cursor: pointer;
                
                p {
                    text-align: center;
                    color: #ffffff;
                    font-size: 28px;
                    font-weight: bold;
                    line-height: 50px;
                }
            }
        }

        //main
        main {
            width: 100%;
            min-width: 800px;
            height: auto;
            margin-top: 50px;
            background: #f1f1f1;
            float: left;

            //左列
            .left {
                width: 15%;
                height: 100%;
                background: #000000d7;
                position: fixed;
                left: 0px;
                top: 50px;
                overflow-x: hidden;
                overflow-y: auto;
                z-index: 2;

                &::-webkit-scrollbar {
                    background: transparent;
                    width: 5px;
                    height: 5px;
                }
            
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                    border-radius: 10px;
                }
            
                &::-webkit-scrollbar-thumb {
                    background: #3d3d3d;
                    border-radius: 10px;
                }

                ul {
                    width: 100%;
                    height: auto;
                    padding: 30px 0px 60px;

                    li {
                        width: 100%;
                        height: auto;
                        color: #888888;
                        padding: 10px 25px;
                        font-size: 16px;
                        cursor: pointer;
                        transition: 0.2s all;
                        user-select: none;
                        white-space: nowrap;

                        &:hover,&:active,&.active {
                            color: #fff;

                            span {
                                opacity: 1;
                            }
                        }

                        span {
                            opacity: 0;
                            display: inline-block;
                            vertical-align: top;
                            width: 8px;
                            height: 18px;
                            background: #44ff16;
                            margin-left: 10px;
                            transition: 0.2s all;
                        }

                        &.disable {
                            color: #3d3d3d;
                            pointer-events: none;
                        }
                    }
                }
            }

            //假左列
            .fakeLeft {
                width: 15%;
                height: 100%;
                position: fixed;
                left: 0px;
                top: 0px;
                background: #ffffff;
                z-index: 1;
            }

            //主區域
            .mainBox {
                width: 85%;
                height: 100%;
                font-size: 0px;
                box-sizing: border-box;
                padding: 1% 1% 0px;
                float: right;

                &::-webkit-scrollbar {
                    background: transparent;
                    width: 5px;
                }
            
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                    border-radius: 10px;
                }
            
                &::-webkit-scrollbar-thumb {
                    background: #4556b1;
                    border-radius: 10px;
                }
                
                div {
                    display: inline-block;
                    width: 49.397%;
                    height: 0px;
                    padding-bottom: 30%;
                    margin-bottom: 1.208%;
                    position: relative;
                    vertical-align: top;

                    &:nth-of-type(even) {
                        margin-left: 1.208%;
                    }

                    a {
                        display: block;
                        width: 100%;
                        height: 0px;
                        padding-bottom: 56%;
                        border-radius: 5px;
                        overflow: hidden;
                        
                        &.demo_001 {
                            background: url('../images/demo_001.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_002 {
                            background: url('../images/demo_002.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_003 {
                            background: url('../images/demo_003.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_004 {
                            background: url('../images/demo_004.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_005 {
                            background: url('../images/demo_005.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_006 {
                            background: url('../images/demo_006.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_007 {
                            background: url('../images/demo_007.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_008 {
                            background: url('../images/demo_008.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_009 {
                            background: url('../images/demo_009.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_010 {
                            background: url('../images/demo_010.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_011 {
                            background: url('../images/demo_011.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_012 {
                            background: url('../images/demo_012.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_013 {
                            background: url('../images/demo_013.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_014 {
                            background: url('../images/demo_014.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_015 {
                            background: url('../images/demo_015.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_016 {
                            background: url('../images/demo_016.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_017 {
                            background: url('../images/demo_017.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_018 {
                            background: url('../images/demo_018.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_019 {
                            background: url('../images/demo_019.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_020 {
                            background: url('../images/demo_020.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_021 {
                            background: url('../images/demo_021.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_022 {
                            background: url('../images/demo_022.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_023 {
                            background: url('../images/demo_023.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_024 {
                            background: url('../images/demo_024.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_025 {
                            background: url('../images/demo_025.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_026 {
                            background: url('../images/demo_026.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_027 {
                            background: url('../images/demo_027.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_028 {
                            background: url('../images/demo_028.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_029 {
                            background: url('../images/demo_029.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_030 {
                            background: url('../images/demo_030.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_031 {
                            background: url('../images/demo_031.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_032 {
                            background: url('../images/demo_032.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_033 {
                            background: url('../images/demo_033.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_034 {
                            background: url('../images/demo_034.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_035 {
                            background: url('../images/demo_035.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_036 {
                            background: url('../images/demo_036.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_037 {
                            background: url('../images/demo_037.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_038 {
                            background: url('../images/demo_038.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_039 {
                            background: url('../images/demo_039.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_040 {
                            background: url('../images/demo_040.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_041 {
                            background: url('../images/demo_041.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_042 {
                            background: url('../images/demo_042.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_043 {
                            background: url('../images/demo_043.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_044 {
                            background: url('../images/demo_044.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_045 {
                            background: url('../images/demo_045.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_046 {
                            background: url('../images/demo_046.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_047 {
                            background: url('../images/demo_047.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_048 {
                            background: url('../images/demo_048.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_049 {
                            background: url('../images/demo_049.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_050 {
                            background: url('../images/demo_050.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_051 {
                            background: url('../images/demo_051.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_052 {
                            background: url('../images/demo_052.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_053 {
                            background: url('../images/demo_053.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_054 {
                            background: url('../images/demo_054.jpg') no-repeat;
                            background-size: cover;
                        }

                        &.demo_055 {
                            background: url('../images/demo_055.jpg') no-repeat;
                            background-size: cover;
                        }
                    }
                    
                    p {
                        position: absolute;
                        bottom: 2%;
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 15px;
                        font-weight: bold;
                    }

                    &.disable {
                        
                        a {
                            filter: brightness(0.2);
                            pointer-events: none;
                        }
                    }
                }
            }

            //回到頂端按鈕
            .gotop {
                background: #ffffff;
                width: 50px;
                height: 50px;
                border-radius: 30px;
                position: fixed;
                right: 3%;
                bottom: 3%;

                span {
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    width: 26px;
                    height: 30px;
                    background: url('../images/arrow_sm.png') no-repeat;
                }
            }
        }
    }
}

.lb-dataContainer {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px !important;
}

.lb-close {
    width: 40px !important;
    height: 40px !important;
    background-size: 100% !important;
    position: absolute;
    top: -7px;
    right: 0px;
}

.lb-caption {
    font-size: 18px !important;
}

@media screen and(max-width: 1100px) {
    html {

        body {

            main {

                .left {
                    min-width: 140px;
                }

                .fakeLeft {
                    min-width: 150px;
                    width: 0%;
                }

                .mainBox {

                    div {
                        width: 100%;
                        padding-bottom: 60%;

                        &:nth-of-type(even) {
                            margin-left: 0%;
                        }
                    }
                }
            }
        }
    }
}