html {
    width: 100%;
    height: 100%;

    body {
        width: 100%;
        min-width: 1280px;
        height: 100%;
        overflow-y: hidden;
        overflow-x: auto;

        &::-webkit-scrollbar {
            background: transparent;
            height: 5px;
        }
    
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 10px;
        }
    
        &::-webkit-scrollbar-thumb {
            background: #3d3d3d;
            border-radius: 10px;
        }

        //header
        header {
            width: 100%;
            height: 50px;
            background: #FF574D;

            button {
                width: 50px;
                height: 50px;
                background: transparent;
                position: relative;
                float: left;
                transition: 0.3s all;

                &:hover,&:active,&.active {
                    background: #4556b1;

                    i {
                        color: #ffffff;
                    }
                }

                i {
                    font-size: 30px;
                    color: #eeeeee;
                }

                &.list {
                    
                    span {
                        display: block;
                        position: absolute;
                        width: 60%;
                        height: 6px;
                        background: #eeeeee;
                        border-radius: 30px;
                        left: 50%;
                        transform: translateX(-50%);
                        
                        &:nth-of-type(1) {
                            top: 10px;
                        }

                        &:nth-of-type(2) {
                            top: 50%;
                            transform: translate(-50%,-50%);
                        }

                        &:nth-of-type(3) {
                            bottom: 10px;
                        }
                    }
                }

                &.search {
                    width: auto;
                    padding: 0px 8px;

                    &:hover,&:active,&.active {
                        
                        input {
                            opacity: 1;
                            width: 160px;
                        }
                    }

                    input {
                        opacity: 0;
                        width: 0px;
                        height: 24px;
                        border-radius: 30px;
                        border: none;
                        vertical-align: super;
                        margin-left: 8px;
                        padding-left: 10px;
                        transition: 0.2s all;

                        &::placeholder {
                            color: #888888;
                        }
                    }
                }
            }

            .logo {
                margin: 0px auto;
                width: 300px;
                height: 50px;
                cursor: pointer;
                
                p {
                    text-align: center;
                    color: #ffffff;
                    font-size: 28px;
                    font-weight: bold;
                    line-height: 50px;
                }
            }
        }

        //main
        main {
            width: 100%;
            height: auto;

            //左列
            .left {
                width: 15%;
                height: 100%;
                background: #000000d7;
                float: left;

                ul {
                    width: 100%;
                    height: auto;
                    padding-top: 30px;

                    li {
                        width: 100%;
                        height: auto;
                        color: #888888;
                        padding: 10px 25px;
                        font-size: 16px;
                        cursor: pointer;
                        transition: 0.2s all;
                        user-select: none;

                        &:hover,&:active,&.active {
                            color: #fff;

                            span {
                                opacity: 1;
                            }
                        }

                        span {
                            opacity: 0;
                            display: inline-block;
                            vertical-align: top;
                            width: 8px;
                            height: 18px;
                            background: #44ff16;
                            margin-left: 10px;
                            transition: 0.2s all;
                        }
                    }
                }
            }

            //主區域
            .mainBox {
                width: 85%;
                height: 100%;
                overflow: auto;
                font-size: 0px;
                box-sizing: border-box;
                padding: 1% 1% 0px;

                &::-webkit-scrollbar {
                    background: transparent;
                    width: 5px;
                }
            
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                    border-radius: 10px;
                }
            
                &::-webkit-scrollbar-thumb {
                    background: #4556b1;
                    border-radius: 10px;
                }
                
                div {
                    display: inline-block;
                    width: 49.397%;
                    height: 0px;
                    padding-bottom: 30%;
                    background: #4556b1;
                    margin-bottom: 1.208%;

                    &:nth-of-type(even) {
                        margin-left: 1.208%;
                    }
                }
            }
        }
    }
}